---
const today = new Date();
---

<footer>
	<div class="footer-content">
		&copy; {today.getFullYear()} 顾佳凯 版权所有
	</div>
</footer>
<style>
	footer {
		background: #c0c0c0;
		padding: 15px 0;
		margin-top: auto;
		font-size: 14px;
	}
	
	.footer-content {
		max-width: 800px;
		margin: 0 auto;
		padding: 0 20px;
		text-align: center;
		color: #000000;
	}
</style>
